h2
{
  font-size: 37px;
  font-weight: 100;
  font-family: 'Ultra', serif;
}
h3
{
  font-size: 23px;
  font-weight: 100;
  font-family: 'Ultra', serif;
}
p {
    color: #8f8f8f;
}
html
{
  height: 100%;
}
.signClass
{
  /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
  background: linear-gradient(-30deg,#3D9EB2, #5667a3);
  background-attachment: fixed;
}
.form
{
  background-color: white;
  width: 40%;
  text-align: center;
  height: 550px;
  margin-left: 30%;
  border: 0px;
  border-radius: 10%;
  box-shadow: 15px 15px 15px ;
  -webkit-animation-name: form;
  -webkit-animation-duration: 4s;
}

.formi
{
  background-color: white;
  width: 35%;
  text-align: center;
  height: 500px;
  margin-left: 33%;
  border: 0px;
  border-radius: 10%;
  box-shadow: 15px 15px 15px ;
  -webkit-animation-name: form;
  -webkit-animation-duration: 4s;
}
.sign
{
  margin-top: 50px;
  margin-left: 15px;
}
.na{
  padding-top:70px;
  padding-left: 80px;
}
.naa{
  padding-top:20px;
  padding-left: 80px;
}
.navbar-nav
{
  padding-left: 8px;
  font-family: 'Orbitron', sans-serif;

}
.navbar-brand
{

  font-family: 'Luckiest Guy', cursive;

    font-size: 38px;
}
.anim
{
  position: absolute;
  left: 20%;
  top: -20px;
}

.absolute
{
  position: absolute;
  -webkit-animation-name: example;
  -webkit-animation-duration: 8s;
}

#features
{
  margin-top: 100px;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 80px;
}
.icon
{
  color: #3D9EB2;
}

.mob
{
  position: absolute;
  -webkit-animation-name: after-loading;
  -webkit-animation-duration: 2s;
}

#first-container
{
  background: linear-gradient(-30deg,#44b6ce, #5667a3);
  width: 100%;
  height: 750px;
}
#footer
{
  text-align: center;
  background-color: #46709A;
  padding-bottom: 20px;
  padding-top: 50px;
}
.icons
{
  margin-right: 20px;
  margin-bottom: 10px;
}
.foot
{
  color: White;
}
.firstPhone{
  position: absolute;
  -webkit-animation-name: first-phone;
  -webkit-animation-duration: 5s;
}
.carousel{
  text-align: center;
  color: white;
  margin-top: 110px;
  width: 100%;

}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

@-webkit-keyframes example {
  0%   { top:0px; opacity: 1;}
  25%  { top:400px; opacity: 0.85;transform: rotate(-20deg);}
  50%  { top:430px; opacity: 0.5;transform: rotate(15deg);}
  75%  { top:460px; opacity: 0;transform: rotate(-10deg);}
  100% { top:0px; opacity: 1;transform: rotate(0deg); }
}


@-webkit-keyframes first-phone {
  0%   { left:0px; }
  25%  { opacity: 0.85; transform: rotate(12deg);}
  50%  { opacity: 1; transform: rotate(-10deg);}
  75%  { transform: rotate(5deg);}
  100% { transform: rotate(0deg);}
}

@-webkit-keyframes after-loading {
  0%   { top:500px; opacity: 0;}
  50%  { top:0px; opacity: 0.5; transform: rotate(15deg);}
  100%  { top:0px; opacity: 1; transform: rotate(0deg);}
}

@-webkit-keyframes form {
  0%   { margin-top:500px; opacity: 0;}
  50%  { margin-top:0px; opacity: 1;}
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c;
}

::-webkit-scrollbar-thumb:active {
  background: #1abc9c;
}

::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
  border-radius: 10%;
}
